<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <property name="app_name" value="laputa_sysrbac"/>
    <contextName>${app_name}</contextName>

    <property name="LOG_PATH" value="D:\laputa-logs"/>

    <include resource="com/laputa/foundation/logging/logback/base.xml"/>

    <logger name="com.laputa.foundation.web" level="DEBUG"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="com.laputa.foundation" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="omjp" level="WARN"/>
    <logger name="oejpw" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE" />
    </root>

</configuration>
