<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.laputa.foundation.app.TestBean">
        <property name="propSomeValue" value="${default.prop.some.value:@xx}"/>
        <property name="defaultKey01" value="${default.key01:@ccccccc}"/>
    </bean>

    <bean class="com.laputa.foundation.app.TestService"/>
</beans>