<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.laputa.foundation.web.generate.annotae.AnnotaeEntity">
        <property name="name" value="用户组"/>
        <property name="clazz" value="com.laputa.foundation.web.rbac.entity.SysUserGroup"/>
        <property name="descript" value="用户组"/>
        <property name="fieldsAnnotaeMap">
            <map>
                <entry key="id">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="0"/>
                        <property name="cname" value="主键"/>
                    </bean>
                </entry>
                <entry key="cname">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="1"/>
                        <property name="cname" value="名称"/>
                    </bean>
                </entry>
                <entry key="code">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="2"/>
                        <property name="cname" value="编码"/>
                    </bean>
                </entry>
                <entry key="descript">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="3"/>
                        <property name="cname" value="描述"/>
                    </bean>
                </entry>

                <entry key="ownSysRoleCollection">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="4"/>
                        <property name="cname" value="拥有角色"/>
                    </bean>
                </entry>

                <entry key="canhaveRelationSysPermissionCollection">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="5"/>
                        <property name="cname" value="部门权限"/>
                    </bean>
                </entry>

                <entry key="ownSysUserCollection">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="6"/>
                        <property name="cname" value="拥有用户"/>
                    </bean>
                </entry>


                <entry key="createdBy">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="101"/>
                        <property name="cname" value="创建用户"/>
                        <property name="updatable" value="false"/>
                    </bean>
                </entry>
                <entry key="createdDate">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="102"/>
                        <property name="cname" value="创建时间"/>
                        <property name="updatable" value="false"/>
                    </bean>
                </entry>
                <entry key="lastModifiedBy">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="103"/>
                        <property name="cname" value="最后修改用户"/>
                        <property name="updatable" value="false"/>
                    </bean>
                </entry>
                <entry key="lastModifiedDate">
                    <bean class="com.laputa.foundation.web.generate.annotae.Annotae">
                        <property name="indexNumber" value="104"/>
                        <property name="cname" value="最后修改时间"/>
                        <property name="updatable" value="false"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>


</beans>